@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  box-sizing: border-box;
  margin: 2vh 2vw;
  font-family: "Comfortaa";
  color: #2a293e;
  background-color: ghostwhite;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: calc(0.6rem + 1vmin);
}

svg {
  width: 25px;
  height: 25px;
  padding: 1vh .5vw; 
  /* color: rgba(255, 148, 169, 0.5); */
  transition: 1s;
}

header svg:hover {
  color: rgba(255, 148, 169, 0.7);
  width: 30px;
  height: 30px;
  transition: 1s;
  cursor: pointer;
}


footer {
  margin: 0;
  width: 100%;
  padding: 1vh 1vw;
  height: 5vh;
  font-size: calc(0.4rem + 1vmin);
}

/* APP header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 1.5vh 3vw;
  height: 10vh;
  border-top: 2px solid #383838;
  border-bottom: 2px solid #383838;
}

.main-header .profile-img {
  border-radius: 50% 50% 0 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
  object-fit: cover;
  object-position: center right;
  vertical-align: middle;
  box-shadow: none;
}
nav {
  margin-left: auto;
}

nav  li {
  position:relative;
  display:inline-block;
  list-style-type: none;
  padding: 0 1rem;
}

nav li > a, nav li > img {
  position: relative;
  display: block;
}

ul {
  display: flex;
  align-items: center;
}

.logo {
  display: inline;
  position: relative;
  margin-right: auto;
  font-size: calc(3rem + 1vmin);
  letter-spacing: -5px;
  color: rgba(255, 148, 169, 0.5);
  justify-self: start;
}

.logo:after {
  content: 'Logo';
  position: absolute;
  left: 10px;
  top: 5px;
  color: rgba(184, 242, 230, 0.5);
}

.errorMessage {
  background: 
  linear-gradient(180deg, rgb(177, 7, 7) 50%, rgba(230, 32, 32, 0) 50%);
  font-weight: bold;
}

/* PROFILE */
.profile {
  margin: 2vh 20vw;
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-columns: 32%  1fr;
  grid-template-rows: 46%  1fr;
  grid-gap: 2vw;
}

.profile-img {
  height: 200px; 
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
  object-fit: cover;
  object-position: center right;
  cursor: pointer;
  transition: 1s box-shadow;
}

.profile-img.default {
  border-radius: none;
  box-shadow: none;
}

.other .profile-img  {
  cursor: default;

}

.profile .profile-img:hover,
.findPeople .profile-img:hover {
  box-shadow: none;
} 

.profile .img-wrapper, .findPeople .img-wrapper {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 1s box-shadow;
  background-color: ghostwhite;
}
.profile .img-wrapper:hover, .findPeople .img-wrapper:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.profile .img-wrapper:hover::before, 
.profile .img-wrapper:hover::after, 
.findPeople .img-wrapper:hover::before, 
.findPeople .img-wrapper:hover::after {
  display: block;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: rgba(255, 148, 169, .8);
  /* border-radius: 75px; */
  z-index: -1;
  animation: 2s clockwise infinite;
}

.profile .img-wrapper:hover:after,
.findPeople .img-wrapper:hover::after {
  background: rgba(184, 242, 230, .8);
  animation: 4s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -10px;
    left: 0;
  }
  12% {
    top: -4px;
    left: 4px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 4px;
    left: 4px;
  }
  50% {
    top: 10px;
    left: 0;    
  }
  62% {
    top: 4px;
    left: -4px;
  }
  75% {
    top: 0;
    left: -10px;
  }
  87% {
    top: -4px;
    left: -4px;
  }
  100% {
    top: -10px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -10px;
    right: 0;
  }
  12% {
    top: -4px;
    right: 4px;
  }
  25% {
    top: 0;
    right: 10px;    
  }
  37% {
    top: 4px;
    right: 4px;
  }
  50% {
    top: 10px;
    right: 0;    
  }
  62% {
    top: 4px;
    right: -4px;
  }
  75% {
    top: 0;
    right: -10px;
  }
  87% {
    top: -4px;
    right: -4px;
  }
  100% {
    top: -10px;
    right: 0;    
  }
}

/* FIND PEOLPLE */
.findPeople {
  padding: 1vh 1vw;
}
.searchedUsers {
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw;
  align-items: center;
}

.searchInput:focus {
  width: 300px;
  transform: none;
}
.searchInput:hover {
  transform: none;
}

.users p {
  padding-left: 2vw;
}

.findedPeople {
  display: flex;
  flex-direction: row;
}

/* FRIENDS */
.container {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}
.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
}

.card .profile-image img {
  max-width: 100%;
  vertical-align: top;
}
/* 
.sub-container {
  display: flex;
  margin: auto;
	justify-content: center;
	align-items: center;
  background-color: color(white);
  line-height: 1.4;
  height: 100%;
}

.card {
  width: 250px;
  background: #fff
		url("https://storage.googleapis.com/chydlx/codepen/minimalist-profile-card/card-bg.jpg")
		top -10% center no-repeat;
	background-size: contain;
	border-radius: 10px;
	text-align: center;
	padding: 30px 60px;
}

.sub-container img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: auto auto 15px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.sub-container h2 {
  margin: auto;
	color: darken(color(grey), 15);
	font-weight: 300;
	font-size: calc(1.2rem + 1vmin);
  font-family: 'Playfair Display', serif;
}

.card button {
  width: 150px;
} */

/* FORM ELEMENTS */
.formField {
  margin: 2% auto;
  padding: 2%;
  width: 450px;
  height: auto;
  min-height: 500px;
  /* border: 6px solid #2A293E; */
  background-image: linear-gradient(-232deg, #E3FDF5 50%, #FFE6FA 50%);
  /* box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31); */
  border: 2px solid #383838;
  border-radius: 30px;
  box-shadow: 4px 5px 0px 0px #383838;
}

.formField .form {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 35px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
  width: 25px;
  height: 25px;
  
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}

header h2 {
  font-size: calc(2rem + 1vmin);
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

header p {
  letter-spacing: 0.05em;
}
.con {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

input {
  display: block;
  margin-top: 2%;
  padding: 0 15px;
  width: 240px;
  height: 50px;
  outline: none;
  /* border: none; */
  /* border-radius: 5px; */
  color: #5E6472;
  font-size: calc(0.6rem + 1vmin);
  font-family: "Comfortaa";
  transition: 0.2s linear;
  border: 2px solid #383838;
}

textarea {
  display: block;
  margin-top: 2%;
  padding: 15px;
  width: 240px;
  height: 150px;
  outline: none;
  border: none;
  resize: none;
  color: #5E6472;
  font-size: calc(0.6rem + 1vmin);
  font-family: "Comfortaa";
  transition: 0.2s linear;
}

input:focus, textarea:focus {
  transform: translateX(-10px);
}

button {
    display: inline-block;
    margin: 7% auto;
    padding: 0 20px;
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    font-size: calc(0.6rem + 1vmin);
    color: #3e403f;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.log-in, .sig-up, .close, .edit, .friendship{
  background: #B8F2E6;
}

.log-in {
  background: #fff
}

.frgt-pass, .delete {
  background: transparent;
}

.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}

button:hover {
  transform: translateY(3px);
  animation: 0.4s ease-in-out infinite alternate;
  box-shadow: none;
}

input[type=file] {
  -webkit-appearance: textfield;
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #5E6472;
  font-size: calc(0.3rem + 1vmin);
  font-family: "Comfortaa";
  text-align: center;
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  left: 0;
  padding: 1vh 1vw;
  background-color: rgba(255, 255, 255, 0.322);
}

/* CLOSE BTN STYLE */

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: calc(0.3rem + 1vmin); 
  line-height: 4em;
  text-transform: uppercase;
  color: #3e403f;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #383838;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

/* UPDATE BTN SPINNER STYLE */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  border-top: 3px solid #f534ce;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.spinner {
  position: relative;
  min-height: 36px;
  background: #fff;
  margin: 10px 0 0;
}

.hidden {
    visibility: hidden;    
}
.highlight {
    background: 
    linear-gradient(180deg, rgba(230, 32, 32, 0) 70%, rgb(184, 242, 230) 30%);
    cursor: pointer;
}

.highlight:hover {
    background: 
    linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, rgb(184, 242, 230) 50%);
}

/* Arrow */
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: rgb(255, 148, 169);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}


/* Responsive */
@media screen and (max-width: 700px) {
  .profile, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .bio-cropper {
    text-align: center;
}

  /* button {
    width: 50px;
  } */
}