@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  box-sizing: border-box;
  margin: 2vh 2vw;
  font-family: "Comfortaa";
  color: #2a293e;
  background-color: ghostwhite;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: calc(0.6rem + 1vmin);
}

svg {
  width: 25px;
  height: 25px;
  padding: 1vh .5vw; 
  transition: 1s;
  cursor: pointer;
}

 svg:hover {
  color: rgba(184, 242, 230, 0.9);
  transform: rotate(15deg);
  transition: 1s;
  cursor: pointer;
}


footer {
  margin: 0;
  width: 100%;
  padding: 1vh 1vw;
  height: 5vh;
  font-size: calc(0.4rem + 1vmin);
}

.welcome {
  margin: 0;
	background: linear-gradient(-45deg, rgba(238, 119, 82, 0.1), rgba(231, 60, 126, 0.1), rgba(35, 166, 213, 0.1), rgba(35, 213, 171, 0.1));
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* APP header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 1.5vh 3vw;
  height: 10vh;
  border-top: 2px solid #383838;
  border-bottom: 2px solid #383838;
}

.main-header .profile-img, #chat-container .profile-img {
  border-radius: 50% 50% 0 50%;
  height: 55px;
  width: 55px;
  cursor: pointer;
  object-fit: cover;
  object-position: center right;
  vertical-align: middle;
  box-shadow: none;
}

nav {
  margin-left: auto;
}

nav  li {
  position:relative;
  display:inline-block;
  list-style-type: none;
  padding: 0 1rem;
}

nav li > a, nav li > img {
  position: relative;
  display: block;
}

ul {
  display: flex;
  align-items: center;
}

.logo{
  width: 3em;
  height: 3.5em;
  transition: 1s;
}

.logo:hover {
  transform: rotate(25deg);
  transition: 1s;
}

.errorMessage {
  background: 
  linear-gradient(180deg, rgb(177, 7, 7) 50%, rgba(230, 32, 32, 0) 50%);
  font-weight: bold;
}

/* PROFILE */
.profile {
  margin: 2vh 20vw;
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-columns: 32%  1fr;
  grid-template-rows: 46%  1fr;
  grid-gap: 2vw;
}

.profile-img {
  height: 200px; 
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(42, 41, 62,0.55);
  object-fit: cover;
  object-position: center right;
  cursor: pointer;
  transition: 1s box-shadow;
}

.profile-img.default {
  border-radius: none;
  box-shadow: none;
}

.other .profile-img, #chat-container .profile-img{
  cursor: default;
}

.profile .profile-img:hover,
.findPeople .profile-img:hover {
  box-shadow: none;
} 

.profile .img-wrapper, .findPeople .img-wrapper {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 1s box-shadow;
  background-color: ghostwhite;
}
.profile .img-wrapper:hover, .findPeople .img-wrapper:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.profile .img-wrapper:hover::before, 
.profile .img-wrapper:hover::after, 
.findPeople .img-wrapper:hover::before, 
.findPeople .img-wrapper:hover::after {
  display: block;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: rgba(255, 148, 169, .8);
  /* border-radius: 75px; */
  z-index: -1;
  animation: 2s clockwise infinite;
}

.profile .img-wrapper:hover:after,
.findPeople .img-wrapper:hover::after {
  background: rgba(184, 242, 230, .8);
  animation: 4s counterclockwise infinite;
}

.bio > button {
  margin: 1% auto;
  width: 190px;
  height: 40px;
  font-size: calc(0.5rem + 1vmin);
}

.uploadModal .form > button {
  margin: 5% auto;
  font-size: calc(0.5rem + 1vmin);
}
.uploadModal .form > .delete, .uploadModal .form > .update  {
  width: 190px;
}

.uploadModal > header {
  margin: 2% auto 5% auto;
}

@keyframes clockwise {
  0% {
    top: -10px;
    left: 0;
  }
  12% {
    top: -4px;
    left: 4px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 4px;
    left: 4px;
  }
  50% {
    top: 10px;
    left: 0;    
  }
  62% {
    top: 4px;
    left: -4px;
  }
  75% {
    top: 0;
    left: -10px;
  }
  87% {
    top: -4px;
    left: -4px;
  }
  100% {
    top: -10px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -10px;
    right: 0;
  }
  12% {
    top: -4px;
    right: 4px;
  }
  25% {
    top: 0;
    right: 10px;    
  }
  37% {
    top: 4px;
    right: 4px;
  }
  50% {
    top: 10px;
    right: 0;    
  }
  62% {
    top: 4px;
    right: -4px;
  }
  75% {
    top: 0;
    right: -10px;
  }
  87% {
    top: -4px;
    right: -4px;
  }
  100% {
    top: -10px;
    right: 0;    
  }
}

/* FIND PEOLPLE */
.findPeople {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.searchedUsers {
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw;
  align-items: center;
}

.search-box{
  margin: 2vh 0vw;
  transform: translate(0%,0%);
  width: 80px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid rgba(184, 242, 230, 0.7);
  overflow: hidden;
  transition: all 1s;
}
.search-box input{
  position: absolute;
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  background: inherit;
  font-size: calc(0.55rem + 1vmin);
  padding: 0 30px;
  opacity: 0;
  transition: all 1s;
}
.search-box:hover{
  width: 400px;
}

.search-box:hover input{
    opacity: 1;
}

.search-box .icon{
  position: absolute;
  right: 0;
  width: 80px;
  height: 100%;
  background:  rgba(184, 242, 230, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;    
  color: ghostwhite;
  cursor: pointer;
  transition: all .4s;
}

.users p {
  padding-left: 2vw;
}

.findedPeople {
  display: flex;
  flex-direction: row;
}

/* FRIENDS */
.container {
  display: flex;
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
  line-height: 1.4;
  height: 100%;
}

.card {
  width: 150px;
  height: 300px;
	border-radius: 10px;
	text-align: center;
  padding: 30px 30px;
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-container img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: auto auto 15px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  cursor: pointer;
}

.sub-container h2 {
  margin: auto;
	font-weight: 400;
	font-size: calc(1rem + 1vmin);
  font-family: 'Playfair Display', serif;
}

.card button {
  width: 120px;
  height: 40px;
  font-size: calc(.5rem + 1vmin);
}

/* CHAT  */
#chat-container {
  display: flex;
  flex-direction: column;
  margin: 2vw 20vh;
  padding: 2vw 2vh;
  border: 2px solid #383838;
  border-radius: 30px;
  box-shadow: 4px 5px 0px 0px #383838;
}

#chat-container textarea {
  width: 70%;
  margin: 1vh 1vw;
  border-radius: 30px;
  align-self: center;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
}

.message-container {
  margin: 1vh 1vw;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 50px 1fr;
  border-radius: 30px;
}

.message-container > img {
  padding: 1vh 1vw;
  grid-row: 1 / span 2 ;
  cursor: default;
}

.message-container > p {
  padding: 1vh 1vw;
}

.message-container:nth-child(odd) {
  background-color: rgba(184, 242, 230, 0.2);
}

.message-container:nth-child(even) {
  background-color: rgba(255, 148, 169, 0.2);
}

.message-container:nth-child(odd) svg:hover {
  color: rgba(255, 148, 169);
}

.message-container:nth-child(even) svg:hover {
  color: rgba(184, 242, 230);
}

.user {
  font-weight: 700;
}

.timestamp {
  font-style: italic;
  font-weight: 300;
  font-size: calc(0.4rem + 1vmin);
  color: gray;
}

.deleteMsg {
  padding: 2vh 2vw;
  grid-column: 2;
  justify-self: end ;
}

/* FORM ELEMENTS */
.formField {
  margin: 2% auto;
  padding: 2%;
  width: 450px;
  height: auto;
  min-height: 500px;
  background-image: linear-gradient(-232deg, #E3FDF5 50%, #FFE6FA 50%);
  border-radius: 30px;
}

.formField .form {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 35px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
  width: 25px;
  height: 25px;
  
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}

header h2 {
  font-size: calc(2rem + 1vmin);
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

header p {
  letter-spacing: 0.05em;
}
.con {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

input {
  display: block;
  margin-top: 2%;
  padding: 0 15px;
  width: 240px;
  height: 50px;
  outline: none;
  border:none;
  border-radius: 5px;
  color: #5E6472;
  font-size: calc(0.6rem + 1vmin);
  font-family: "Comfortaa";
  transition: 0.2s linear;
}

textarea {
  display: block;
  margin-top: 2%;
  padding: 15px;
  width: 240px;
  height: 150px;
  outline: none;
  border: none;
  resize: none;
  color: #5E6472;
  font-size: calc(0.6rem + 1vmin);
  font-family: "Comfortaa";
  transition: 0.2s linear;
}

input:focus, textarea:focus {
  transform: translateX(-10px);
}

button {
    display: inline-block;
    margin: 7% auto;
    padding: 0 20px;
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    font-size: calc(0.6rem + 1vmin);
    color: #3e403f;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}


.log-in, .sig-up, .close, .edit, .friendship, .deleteAcc {
  background: #B8F2E6;
}

.log-in {
  background: #fff
}

.frgt-pass, .delete {
  background: transparent;
}

.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}

button:hover {
  transform: translateY(3px);
  animation: 0.4s ease-in-out infinite alternate;
  box-shadow: none;
}

input[type=file] {
  -webkit-appearance: textfield;
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #5E6472;
  font-size: calc(0.3rem + 1vmin);
  font-family: "Comfortaa";
  text-align: center;
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  left: 0;
  padding: 1vh 1vw;
  background-color: rgba(255, 255, 255, 0.322);
}

/* CLOSE BTN STYLE */

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: calc(0.3rem + 1vmin); 
  line-height: 4em;
  text-transform: uppercase;
  color: #3e403f;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #383838;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

/* UPDATE BTN SPINNER STYLE */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  border-top: 3px solid #f534ce;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.spinner {
  position: relative;
  min-height: 36px;
  background: #fff;
  margin: 10px 0 0;
}

.hidden {
    visibility: hidden;    
}
.highlight {
    background: 
    linear-gradient(180deg, rgba(230, 32, 32, 0) 70%, rgb(184, 242, 230) 30%);
    cursor: pointer;
}

.highlight:hover {
    background: 
    linear-gradient(180deg, rgba(230, 32, 32, 0) 50%, rgb(184, 242, 230) 50%);
}

/* Arrow */
.scrollTop {
  /* position: fixed;  */
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: rgb(255, 148, 169);
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}


/* Responsive */
@media screen and (max-width: 700px) {
  .profile, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .bio-cropper {
    text-align: center;
}

  /* button {
    width: 50px;
  } */
}